<script type="module" src="{{ url_for('static', path='/js/admin/spatialExtent.js') }}"></script>
{% set min_lon = data['min-lon'] if data is not none else '' %}
{% set min_lat = data['min-lat'] if data is not none else '' %}
{% set max_lon = data['max-lon'] if data is not none else '' %}
{% set max_lat = data['max-lat'] if data is not none else '' %}
<spatial-extent-map
        id="{{ field.id }}-map"
        data-tile-url="{{ field.tile_url }}"
        data-center-lon="0"
        data-center-lat="0"
        data-zoom="2"
        data-min-lon="{{ min_lon }}"
        data-min-lat="{{ min_lat }}"
        data-max-lon="{{ max_lon }}"
        data-max-lat="{{ max_lat }}"
        style="display: block; width: 100%; height: 30vh"
></spatial-extent-map>